<template>
    <b-row>

        <b-col cols="8">
                <b-card no-body
                 footer-bg-variant="light"
                    footer-border-variant="dark"
                    title="Conversación Activa"
                    class="h-100 card-body-scroll" >
                
                <b-card-body class="card-body-scroll">

                    <message-conversation-component
                            v-for="message in messages"
                            :key="message.id"
                                :WrittenByMe="message.written_by_me">
                        {{message.content}}
                    </message-conversation-component>

                </b-card-body>

                <div slot="footer">
                    <b-form class="mb-0" @submit.prevent="postMessage" autocomplete="off">



                        <b-input-group>
                            <b-form-input class="text-center"
                                 v-model="newMessage"
                                 type="text"
                                 placeholder="Escribe un Mensaje...">
                            </b-form-input>

                            <b-input-group-append>
                                <b-button type="submit" variant="primary">Enviar</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form>

                </div>

            </b-card>
        </b-col>

        <b-col cols="4">

            <b-img rounded="circle" blank width="60" height="60" blank-color="#777" alt="img" class="m-1" src="~/static/picture.jpg"></b-img>
            <p>{{contactName}}</p>

            <b-form-checkbox>
                Desactivar notificaciones
            </b-form-checkbox>
        </b-col>

    </b-row>
</template>

<script>
    export default {
        props:{
                contactId:Number,
                contactName: String,
                messages: Array
            },
        data(){
            return{
                newMessage:'',
            };
        },
        mounted(){
        },
        methods:{
            postMessage(){
                const params={
                    to_id:this.contactId,
                    content:this.newMessage
                };
                axios.post('api/messages',params).then((response)=>{
                        if(response.data.success){
                            this.newMessage='';
                            const message=response.data.message;
                            message.written_by_me=true;
                            this.$emit("messageCreated", message)
                            }
            });
            },
            scrollToBottom(){
                const el= document.querySelector('.card-body-scroll');
                el.scrollTop =el.scrollHeight;
            }
        },
        updated(){
            this.scrollToBottom();
        }
    }
</script>

<style>
    .card-body-scroll{
        max-height: calc(100vh - 63px);
        overflow-y: scroll;
    }
</style>