<template>
                <b-media  :right-align="WrittenByMe" vertical-align="center"  class="mb-2">
                    <b-img slot="aside" rounded="circle" blank blank-color="#ccc" width="80" alt="placeholder" />
                    <b-card >
                        <slot></slot>
                    </b-card>
                </b-media>
</template>

<script>
    export default {
        props:{
            WrittenByMe:Boolean
        },
        data(){
            return{

            };
        },
        mounted(){

        }
    }
</script>

<style scoped>

</style>